body{
  width: 100%;
  margin: auto;
  font-family: 'Gothic A1', sans-serif;
}

.rdrDay {
    font-family: 'Gothic A1', sans-serif; 
    font-weight: 700
}

.Post{
  margin:12px auto;
  padding: 12px 20px;
  border:1px solid #eee;
  border-radius: 4px;
}

.PostImage{
  max-width: 250px
}


a{
	text-decoration: none;
}

a.active{
	text-decoration: underline;
}

/*.dark{
	background: white;
}*/

.light{
	background: white;
}

.brief3{
  background-color: #1FBACA;
}

.sectWidth{
  width: 1200px;
}

.menuItem{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  display: flex;
  align-items: center;
}

.tog{
  height: 16.333333015441895px;
width: 26.666667938232422px;
margin-left: 4px !important;
}

.togBtn{
  height: 14.333333015441895px;
width: 14.333333015441895px;
left: 2.66650390625px;
top: 9.333343505859375px;
background-color: white;
margin-top: -1px;
}

.vector{
  height: 27px;
width: 26.99869155883789px;
left: 0px;
top: 0px;
border-radius: 0px;

}

.logoBox{
  height: 56px;
width: 86px;
left: 120px;
top: 30px;
border-radius: 0px;

}


.authBtn{
  height: 32px;
  width: 106px;
  left: 1214px;
  top: 42px;
  border-radius: 50px;
  background: #DE7634;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

}

.imgBx{
  height: 455px;
width: 371px;
/*left: 120px;
top: 165px;*/

}

.imgBx1{
  height: 440px;
width: 440px;
/*left: 120px;
top: 165px;*/

}

h2{
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
}

.coin{
height: 45px;
width: 45px;
border-radius: 0px;
}


h3{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.h3Bold{

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;

}

.gen{
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
}

.genBold{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}


.h3Dark{
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;

}

.h3Dark24{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;

}

.uniqueBox{
  height: 38px;
  width: 359px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
}


.uniqueBoxDrk{
  height: 38px;
  width: 359px;
  border-radius: 10px;
  background: #222222;
  border: 0.25px solid rgb(187 191 197 / 20%);
  box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
}

.uniqueBoxDrk1{
  border-radius: 10px;
  background: #222222;
  border: 0.25px solid rgb(187 191 197 / 20%);
  box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
}

.profileBox{
  height: 38px;
  width: 179px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
}

.profileBoxDrk{
  height: 38px;
  width: 179px;
  border-radius: 10px;
  background: #222222;
  border: 0.25px solid rgb(187 191 197 / 20%);
  box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
}


.paymentBox{

/*  border-radius: 10px;
  border: 0.5px solid #BBBFC5;*/
  box-shadow: 1px 1px 4px 0px #1B31421C;


}

.paymentBoxDrk{
  background: #222222;
  border: 0.25px solid rgb(187 191 197 / 20%);
  box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
}

.featureBox{
  height: 38px;
  width: 350px;
 


}

.descBox{
  height: 38px;
  width: 359px;
  border-radius: 10px;
  border-bottom: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;


}

.dateBox{
  height: 25px;
  width: 126px;
/*  border-radius: 10px;
*/  border-bottom: 0.5px solid #BBBFC5;
/*  box-shadow: 1px 1px 4px 0px #1B31421C;
*/

}

.uniqueBoxSearch{
  height: 38px;
  width: 231px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;


}

.uniqueBoxImg{
  height: 359px;
  width: 359px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;



}

.uniqueBoxDesc{
  height: 190px;
  width: 359px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
  margin-right: 1.3rem;
}

.uniqueDesc{
  height: 100px;
  width: 359px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
  margin-right: 1.3rem;
}

.uniqueDescDrk{
  height: 100px;
  width: 359px;
  border-radius: 10px;
  background: #222222;
  border: 0.25px solid rgb(187 191 197 / 20%);
  box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
  margin-right: 1.3rem;
}

.uniqueBoxSm{
  height: 107px;
  width: 107px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
  margin-right: 1.3rem;
}


.bulkTxt{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;

}

.sendBtn{
  height: 32px;
  width: 157px;
  border: 1px solid #000000;
  border-radius: 50px;
}

.sendBtnDrk{
  height: 32px;
  width: 157px;
  border: 1px solid white;
  border-radius: 50px;
}


.sendBtn1{
  height: 32px;
  width: 107px;
  border: 1px solid #000000;
  border-radius: 50px;
}

.sendBtnDrk1{
  height: 32px;
  width: 107px;
  border: 1px solid white;
  border-radius: 50px;
}

.shareInput{
  background: #BBBFC5;
/* Blue-Grey Light */

border: 0.5px solid #BBBFC5;
}

.shareBox{
  width: 359px;
}


.coinBox{
  width: 829px;
}



.leftCol{
  width: 371px;
}

.rightCol{
  width: 829px
}

.tabTitle{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
color: #BBBFC5;


}


:root   { --is-big: black; }

.is-big { --is-big: white; }

/*.block {
  padding: calc(
    4rem * var(--is-big) +
    1rem * (1 - var(--is-big))
  );
}*/


.rb-tabs .rb-tabs-header .rb-tabs-items .rb-tabs-item.active {
font-size: 24px;
font-style: normal;
font-weight: 700 !important;
line-height: 38px;
letter-spacing: 0em;
color: var(--is-big);

}



.thumbImgBx{
height: 432px;
width: 380px;
border-radius: 20px;
background: #F6F7FA;
box-shadow: 14px 10px 35px 0px #1B314214;

}

.thumbImgBxDrk{
height: 432px;
width: 380px;
border-radius: 20px;
background: #222222;
box-shadow: 14px 10px 35px rgba(27, 49, 66, 0.08);

}

.thumbImg{
height: 282px;
width: 358px;
border-radius: 0px;
}

.smallCoin{
  height: 23px;
width: 23px;

}

.genLight{
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 26px;
letter-spacing: 0em;
}

.blueBgBx{
  background: #F6F7FA;
border-radius: 20px;
box-shadow: 14px 10px 35px 0px #1B314214;

}



.StripeElement {
  height: 38px;
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
  height: 40px;
  padding: 10px 12px;

  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 1px 1px 4px 0px #1B31421C;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


.line{
  height: 0px;
  width: 53.0000000000002px;
  border-top-color: #DE7634;
  border-top-style: solid;
  border-top-width: 1px;
}

.greyCol{
  color: #838383;
}

.orangeCol{
  color: #DE7634;
}

.orangeBtn{
  height: 32px;
  width: 157px;
  border: 1px solid #DE7634;
  border-radius: 50px;
}

.orangeBtm{

  border-bottom: 1px solid #DE7634;
}


.editBtn{
  height: 32px;
  width: 111px;
  border-radius: 50px;
  border: 1px solid #000000;
}

.editBtnDrk{
  height: 32px;
  width: 111px;
  border-radius: 50px;
  border: 1px solid white;
}


.lineA{
  height: 0px;
  width: 371.0000000000014px;
  border-top-color: #EFF0F2;
  border-top-style: solid;
  border-top-width: 1px;
}

.unselected{
  color: #707070;
}

.orangeBg{
  background-color: #DE7634;
}

.orangeTxt{
  color: #DE7634;
}

.orangeBorder{
  border-color: #DE7634;
}

.signupBx{
border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;
}

.whiteLine{
  border-bottom: 1px solid white !important;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  width: 620px;
}

.grid-item {
/*  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);*/
 
  text-align: left;
}

.grid-item1 {


  text-align: left;
}


.stdBtn{
  height: 32px;
  width: 106px;
  left: 1214px;
  top: 42px;
  border-radius: 50px;
  background: #DE7634;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 4px;

}

.smallBox{
  position: relative;
  width: 720px;
  height: 727px;
  background: #FFFFFF;

  box-shadow: 6px 16px 26px rgba(27, 49, 66, 0.11);
  border-radius: 20px;
}

.stdInput{
  height: 38px;
  width: 300px;
  border-radius: 10px;
  border: 0.5px solid #BBBFC5;
  box-shadow: 1px 1px 4px 0px #1B31421C;

}

.gryLine{
  position: absolute;
width: 620px;
height: 0px;
left: 50px;
top: 102px;

/* Grey-light */

border: 1px solid #EFF0F2;
}

.shareLine{
  border-top: 0.25px solid #E4E4E4
}

.normalBold{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;

}



.h3Sub{
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
}

.gryLine1{
width: 620px;
height: 0px;
border: 1px solid #EFF0F2;
}

.borderBoundary{
  width: 620px;
}



input[type=file] {

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

}

.calcBox{
  width: 720px;
  height: 450px;
  background: #F6F7FA;
  box-shadow: 14px 10px 35px rgba(27, 49, 66, 0.08);
  border-radius: 20px;

}

.calcDrkBox{
  width: 720px;
  height: 450px;
  border-radius: 20px;
  background: #495461;
  box-shadow: 6px 16px 26px rgba(0, 0, 0, 0.2);

}

.heroFont{
font-size: 49px;
font-style: normal;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: left;

}

.h3Light{
font-size: 26px;
font-style: normal;
font-weight: 200;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}


.rectangle{
  height: 445px;
  width: 493px;
  right: 20px;
  top: 40px;
  border-radius: 20px;
  background: rgba(246, 247, 250, 1);
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  z-index: -1;

}

.rectangle1{
  height: 445px;
  width: 493px;
  right: 20px;
  top: 40px;
  border-radius: 20px;
  background: #222222;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  z-index: -1;

}

.rectangle2{

  border-radius: 20px;
  background: #222222;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);


}






.carousel-indicators [data-bs-target] {
    opacity: 0.3 !important

}


.carousel-indicators .active{
  background-color: rgba(222, 118, 52, 1) !important;
  opacity: 1 !important
}

.carousel-control-next-icon {
    background-image: url(./images/next.png) !important;
/*    background-image: url(data:image/svg xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
*/}

.carousel-control-next-iconD {
    background-image: url(./images/nextD.png) !important;
/*    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
*/}

.carousel-control-next {
  opacity: 1 !important
}
.carousel-dark .carousel-control-next-icon {
    filter: none !important;
}


.carousel-control-prev-icon {
    background-image: url(./images/prev.png) !important;
/*    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
*/}

.carousel-control-prev-iconD {
    background-image: url(./images/prevD.png) !important;
/*    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
*/}


.carousel-control-prev {
  opacity: 1 !important
}
.carousel-dark .carousel-control-prev-icon {
    filter: none !important;
}

.topLine{
  border-top-style: solid;
  border-top-color: rgba(222, 118, 52, 1);
  border-top-width: 3px;
}

.miniText{

font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 26px;
letter-spacing: 0em;
text-align: right;

}

.bluebg{
  background-color: rgba(11, 26, 44, 1);

}

.grybg{
  background-color: rgba(187, 191, 197, 1);

}

.findBtn{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.findDrkBtn{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid black;
}

.findTxt{
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;

}

.answerBox{
  background: rgba(44, 57, 73, 1);
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.15);
  border-radius: 10px;
}


.answerDrkBox{
  background: rgba(73, 84, 97, 1);
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.15);
  border-radius: 10px;
}

.questionTxt{
  color: rgba(255, 255, 255, 0.5);

}

.unSelectedTxt{
  color: #707070;
}


.conversionBox{
  background: #FFFFFF;
border: 0.5px solid #BBBFC5;
box-sizing: border-box;
box-shadow: 1px 1px 4px rgba(27, 49, 66, 0.11);
border-radius: 10px;

}


.identityCard{
  height: 430px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  background: white;
}

.identityCard:hover {
  box-shadow: 6px 16px 26px 0px #1B31421C;
}

.identityCardDrk{
  height: 430px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  background: #1A1A1A;
}

.identityCardDrk:hover {
  box-shadow: 6px 16px 26px 0px #5A5A5A0F;
}



.backgroundShape{
  position: absolute;
background: #F6F7FA;
border-bottom-left-radius: 20px;
}

.backgroundDrkShape{
    position: absolute;
background: #222222;
border-bottom-left-radius: 20px;
}

.borderIcon{
  border-color: #DBDBDB;
}

.borderIconB{
  border-color: black;
}

.titleBox{
  background: #2C3949;
border-radius: 10px;
}


.itemBox{
  background: rgba(246, 247, 250, 1);
  height: 43rem;
  border-radius: 10px 10px 10px 10px;

}

.itemBoxDrk{
  background: #222222;
  height: 43rem;
  border-radius: 10px 10px 10px 10px;
}

.itemBoxSm{
  background: rgba(246, 247, 250, 1);
  height: 30.5rem;
  border-radius: 10px 10px 10px 10px;
}

.itemBoxSmDrk{
  background:#222222;
  height: 30.5rem;
  border-radius: 10px 10px 10px 10px;
}

.itemBox:hover{
  background: rgba(246, 247, 250, 1);
  height: 43rem;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  border-radius: 10px 10px 10px 10px;

}

.itemBoxDrk:hover{
  background: #222222;
  height: 43rem;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  border-radius: 10px 10px 10px 10px;
}

.itemBoxSm:hover{
  background: rgba(246, 247, 250, 1);
  height: 30.5rem;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  border-radius: 10px 10px 10px 10px;
}

.itemBoxSmDrk:hover{
  background:#222222;
  height: 30.5rem;
  box-shadow: 14px 10px 35px 0px rgba(27, 49, 66, 0.08);
  border-radius: 10px 10px 10px 10px;
}

.darkTitleBg{
  background: #1A1A1A;
  border-radius: 0px 0px 10px 10px;
}


.avatar{
  width: 147px;
  height: 147px;
  background: white;
/* Blue-Grey Light */

border: 1px solid white;
box-sizing: border-box;
}

.avatarDrk{
  width: 147px;
  height: 147px;
  background: rgba(26, 26, 26, 1);
  box-sizing: border-box;
}

.avatar1{
  width: 147px;
  height: 147px;
  background: white;
/* Blue-Grey Light */
}

.getLightIta{
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}


 .contentMarkdown > p{
  margin-bottom: 2rem;
}

.darkbg
{
  background: rgba(26, 26, 26, 1);

}

.dark

.genLight > b{
  font-weight: 700;
}

.uploadSketch{
    top: 32%;
    right: 35%;
}

.checkBx{
  width: 25px;
  height: 25px;
  border: 1px solid #BBBFC5;
  box-sizing: border-box;
  border-radius: 5px;
}

.searchThumb{
  background: #F6F7FA;
  box-shadow: 14px 10px 35px rgba(27, 49, 66, 0.08);
  border-radius: 20px;
  height: 28rem;
}

.searchThumbDrk{
  height: 28rem;
  background: #222222;
  box-shadow: 14px 10px 35px rgba(27, 49, 66, 0.08);
  border-radius: 20px;
}


.orgBdr{
  border-top: 1px solid rgba(222, 118, 52, 1)
}

.dFaITY {
  background-color: white !important;
}

.gryLine2{
/*  position: absolute;
width: 620px;
height: 0px;
left: 50px;
top: 102px;

/* Grey-light */

border: 1px solid #EFF0F2;
}

.gryLine2Drk{
/*  position: absolute;
width: 620px;
height: 0px;
left: 50px;
top: 102px;

/* Grey-light */

border: 1px solid white;
}

.picBg{
  width: 540px;
  height: 550px;
  background: #F6F7FA;
  box-shadow: 14px 10px 35px rgba(27, 49, 66, 0.08);
  border-radius: 20px;

}

.picDrkBg{
  width: 540px;
  height: 550px;
  background: #222222;
  box-shadow: 6px 16px 26px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.darkBx{
  background: #222222;
/*  box-shadow: 6px 16px 26px rgba(0, 0, 0, 0.2);
*/}


.searchBx{
  width: 640px;
  height: 60px;
  border: 1px solid #BBBFC5;
  box-sizing: border-box;
  filter: drop-shadow(6px 16px 26px rgba(27, 49, 66, 0.11));
  border-radius: 50px;
}

.searchBxDrk{
  width: 640px;
  height: 60px;
  box-sizing: border-box;
  background: #2C3949;
  box-shadow: 6px 16px 26px rgba(27, 49, 66, 0.11);
  border-radius: 50px;
}



.searchBxHome{
  width: 592px;
  height: 60px;
  box-shadow: 6px 16px 26px 0px #1B31421C;
  background: #2C3949;
  border-radius: 50px;
}

[type='checkbox'], [type='radio']  {
  color: #0B1A2C !important;
  --tw-ring-color: transparent !important;

}


.noRing{
    --tw-ring-color: transparent !important;
}

.socialBx{
  width: 30px;
}


.copy{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}

.searchBxHome > ::placeholder {
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 0.65);


}

.borderbot{
  border-bottom-width: 3px;
}


.darkInput{
  background: #222222;
/* Blue-Grey Light */

border: 0.5px solid #BBBFC5;
}
  
  .darkInputBg{
  background: #222222;
/* Blue-Grey Light */

}


